@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  min-width: 1200px;
  height: 100%;
  background-color: #f2f2f2;
}

.page {
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.page__main {
  flex-grow: 1;
}

.page__catalog {
  flex-grow: 1;
}

.button {
  padding-top: 8px;
  padding-right: 8px;
  padding-left: 8px;
  padding-bottom: 8px;
  display: inline-block;
  align-self: center;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  background-color: #756157;
  cursor: pointer;
}

.button--big {
  font-size: 20px;
  line-height: 36px;
}

.button--blue {
  background-color: #82B3D3;
}

.button--green {
  background-color: #7DB54F;
}

.button--transparent {
  background-color: transparent;
}

.section-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.section-title--white {
  color: #ffffff;
}

.navigation {
  padding-left: 70px;
  padding-right: 70px;
  /*display: flex;
  justify-content: space-between;*/
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.navigation__logo-image {
  position: absolute;
}

.navigation__wrapper {
  margin-left: 170px;
  display: flex;
  justify-content: space-between;
}

.navigation__pages {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.navigation__pages-link {
  padding-top: 20px;
  padding-right: 16px;
  padding-bottom: 20px;
  padding-left: 16px;
  display: block;
  color: inherit;
  text-decoration: none;
}

.navigation__user-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.navigation__user {
  margin: 0;
  margin-right: 20px;
  padding: 0;
  list-style: none;
}

.navigation__user-link {
  text-decoration: none;
}

.navigation__favorites-count {
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  text-align: center;
  color: #ffffff;
  background-color: #7DB54F;
}

.navigation__user-button {
  box-sizing: border-box;
  min-width: 160px;
}

.hero {
  padding-top: 51px;
  padding-bottom: 82px;
  background-image: url("../images/img_welcome_background.jpg");
  background-color: #82B3D3;
  background-size: cover;
}

.hero__image {
  display: block;
  margin: 0 auto;
}

.features__title-wrapper {
  margin-bottom: 21px;
  padding-top: 69px;
  padding-right: 20px;
  padding-bottom: 69px;
  padding-left: 20px;
}

.features__title {
  margin-bottom: 25px;
}

.features__subtitle {
  text-align: center;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature {
  box-sizing: border-box;
  min-height: 385px;
  width: 400px;
  padding-right: 85px;
  padding-left: 85px;
  display: flex;
  flex-direction: column;
  background-color: rgba(131, 179, 211, 0.12);
}

.feature--with-image {
  width: 100%;
  padding: 0;
  flex-direction: row;
  background-color: #82B3D3;
}

.feature--reverse {
  flex-direction: row-reverse;
}

.feature--gray {
  background-color: rgba(131, 179, 211, 0.2);
}

.feature__wrapper {
  margin: auto 0;
}

.feature__text-wrapper {
  margin: auto 0;
  padding-right: 85px;
  padding-left: 85px;
}

.feature__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.feature__title--white {
  color: #ffffff;
}

.feature__subtitle {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.feature__subtitle--white {
  color: #ffffff;
}

.services__title-wrapper {
  padding-top: 64px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 64px;
}

.services__subtitle {
  text-align: center;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.service {
  box-sizing: border-box;
  width: 400px;
  min-height: 385px;
  padding-top: 183px;
  padding-right: 85px;
  padding-bottom: 81px;
  padding-left: 85px;
}



.services__item--gray {
  background-color: rgba(131, 179, 211, 0.12);
}

.service__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.service__subtitle {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.search-hotel {
  padding-top: 96px;
  padding-right: 20px;
  padding-bottom: 96px;
  padding-left: 20px;
  text-align: center;
}

.search-hotel__title {
  margin-bottom: 20px;
}

.search-hotel__subtitle {
  margin-bottom: 54px;
  text-align: center;
}

.search-hotel__link {
  box-sizing: border-box;
  min-width: 376px;
}

.subscription {
  box-sizing: border-box;
  min-height: 415px;
  padding-top: 96px;
  padding-right: 258px;
  padding-bottom: 20px;
  padding-left: 258px;
  text-align: center;
}

.subscription--background {
  background-image: url("../images/img_subscribe_background.jpg");
  background-color: #82B3D3;
  background-size: cover;
}

.subscription__subtitle {
  margin: 0;
  margin-bottom: 54px;
  text-align: center;
}

.subscription__subtitle--white {
  color: #ffffff;
}

.subscription__form {
  display: flex;
}

.subscription__email {
  padding-top: 14px;
  padding-right: 20px;
  padding-bottom: 14px;
  padding-left: 20px;
  flex-grow: 1;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  border: none;
  border-radius: 4px 0 0 4px;
  background-color: #F2F2F2;
}

.subscription__email::placeholder {
  opacity: 60%;
}

.subscription__submit-email {
  min-width: 232px;
  border-radius: 0 4px 4px 0;
}

.contacts {
  padding-top: 40px;
  padding-right: 70px;
  padding-bottom: 30px;
  padding-left: 70px;
  display: flex;
  justify-content: space-between;
}

.contacts__socials {
  list-style: none;
}

.contacts__phone-link {
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.catalog__wrapper {
  padding-top: 35px;
  padding-right: 70px;
  padding-bottom: 70px;
  padding-left: 70px;
  background-image: url("../images/img_filter_background.jpg");
  background-color: #82B3D3;
  background-size: cover;
}

.catalog__title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.catalog__breadcrumbs {
  margin: 0;
  margin-bottom: 40px;
}

.breadcrumbs {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  list-style: none;
}

.breadcrumbs__item {
  margin-right: 10px;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.search-form {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

.search-form__fieldsets-wrapper {
  display: flex;

}

.search-form__fieldset {
  width: 150px;
  margin: 0;
  margin-right: 70px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  border: none;
}

.search-form__fieldset:last-child {
  margin-right: 0;
}

.search-form__fieldset-title {
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.search-form__label {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 23px;
}

.search-form__label:last-of-type {
  margin-bottom: 0;
}

.search-form__price {
  box-sizing: border-box;
  width: 288px;
  align-items: flex-start;
}

.search-form__price-input {
  width: 70px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  border: none;
  line-height: 24px;
}

.search-form__price-label {
  box-sizing: border-box;
  width: 143px;
  margin-right: 2px;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

.search-form__price-label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.search-form__price-label:last-of-type {
  border-radius: 0 4px 4px 0;
  margin-right: 0;
}

.search-form__buttons {
  width: 191px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}

.search-form__button {
  align-self: stretch;
  margin-bottom: 32px;
}

.search-form__button:last-child {
  margin-bottom: 0;
}

.search-result {
  padding-top: 50px;
  padding-right: 70px;
  padding-bottom: 60px;
  padding-left: 70px;
}

.search-result__filters {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;

}

.search-result__sorting-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.search-result__title {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.search-result__sorting-type {
  box-sizing: border-box;
  width: 292px;
  height: 49px;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px;
  margin-right: 70px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color:#333333;
  border: 2px #E5E5E5 solid;
  border-radius: 4px;
}

.search-result__layout-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.search-result__layout-item {
  box-sizing: border-box;
  margin-right: 8px;
  width: 48px;
  height: 48px;
  border: 2px #E5E5E5 solid;
  border-radius: 4px;
}

.search-result__layout-item:last-child {
  margin-right: 0;
}

.search-result__layout-item--current {
  border: 2px #000000 solid;
}

.search-result__layout-link {
  text-decoration: none;
}

.hotels {
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #E5E5E5;
  list-style: none;
}

.search-result__hotels-list {
  margin-bottom: 40px;
}

.hotels__item {
  margin-right: 20px;
  margin-bottom: 20px;
}

.hotels__item:nth-child(3n) {
  margin-right: 0;
}

.hotel-card {
  box-sizing: border-box;
  width: 340px;
  padding: 20px;
  border: 1px solid #E5E5E5;
  border-radius: 4px;
}

.hotel-card__title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}


.hotel-card__type {
  font-size: 18px;
  line-height: 21px;
}

.hotel-card__price {
  font-size: 18px;
  line-height: 21px;
}

.hotel-card__rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.search-result__pagination {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.search-result__pagination-item {
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 5px;
  margin-right: 8px;
  display: flex;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  background-color: #82B3D3;
  border-radius: 4px;
}

.search-result__pagination-item:last-child {
  margin-right: 0;
}

.search-result__pagination-item--current {
  color: #000000;
  background-color: #f2f2f2;
}

.search-result__pagination-item--dots {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  background-color: transparent;
}

.search-result__page-link {
  margin: auto;
  color: inherit;
  text-decoration: none;
}
